<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Weare admin</title>
	<link rel="icon" href="/user/img/Fevicon.jpg" type="image/png">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/admin/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/admin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/admin/css/style.css" rel="stylesheet">
</head>

<body id="adminCategory">

    <div class="container-fluid position-relative d-flex p-0">
        <div class="content">
               <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="/admin/home" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-home"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0 m-3">
                    <i class="fa fa-bars"></i>
                </a>
            
            </nav>
            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h2 class="mb-0">Products</h2>
                       
                        <button type="button" class="btn btn-info"><a href="/admin/addProduct" class="text-dark">Add new
                            product</a></button>       
                           
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0" id="example">
                            <thead>
                                <tr class="text-white">
                                    <th scope="col">SI No.</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Author</th>
                                    <th scope="col">Language</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Publisher</th>
                                    <th scope="col">Isbn</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">No.of stocks</th>
                                    <th scope="col">MRP</th>
                                    <th scope="col">Selling price</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <% let count=1; products.forEach((products)=>{ %>
                                        <tr>
                                            <td>
                                                <%= count %>
                                            </td>
                                            <td>
                                                <%= products.name %>
                                            </td>
                                            <td>
                                                <%= products.author%>
                                            </td>
                                            <td>
                                                <%= products.language%>
                                            </td>
                                            <td>
                                                <%= products.category%>
                                            </td>
                                            <td>
                                                <%= products.publisher%>
                                            </td>
                                            <td>
                                                <%= products.isbn%>
                                            </td>
                                            <td>
                                                <div class="shBox">
                                                    <p>
                                                        <%= products.description%>
                                                    </p>
                                                    <a href="javascript:void();" class="readmore-btn">Read More</a>
                                                </div>
                                            </td>
                                             <td><img src="/<%= products.imagePath%>"  width="100px"></td> 
                                            <td>
                                                <%= products.stock%>
                                            </td>
                                            <td>
                                                <%= products.mrp%>
                                            </td>
                                            <td>
                                                <%= products.srp%>
                                            </td>
                                            <td>
                                                <a href="/admin/editProduct?id=<%= products._id %>"
                                                    class="btn btn-warning m-2"> Edit</a>
                                                <br>
                                                <% if(!products.blockStatus){ %> 
                                                    <a href="/admin/productStatus?id=<%= products._id %>"><button class="btn btn-danger m-2" onclick="return confirm('Are you sure you want to disable the product <%= products.name %>')">Disable</button></a>
                                                <% }else{ %> 
                                                    <a href="/admin/productStatus?id=<%= products._id %>"><button class="btn btn-info m-2" onclick="return confirm('Are you sure you want to enable the product <%= products.name %>')">Enable</button></a>
                                                <% } %> 
                                            </td>
                                        </tr>
                                    <% count++ }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->
        </div>
    </div>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/lib/chart/chart.min.js"></script>
    <script src="/admin/lib/easing/easing.min.js"></script>
    <script src="/admin/lib/waypoints/waypoints.min.js"></script>
    <script src="/admin/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/admin/js/main.js"></script>

</body>

</html>