<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Boutique | Ecommerce bootstrap template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- gLightbox gallery-->
    <link rel="stylesheet" href="vendor/glightbox/css/glightbox.min.css">
    <!-- Range slider-->
    <link rel="stylesheet" href="vendor/nouislider/nouislider.min.css">
    <!-- Choices CSS-->
    <link rel="stylesheet" href="vendor/choices.js/public/assets/styles/choices.min.css">
    <!-- Swiper slider-->
    <link rel="stylesheet" href="vendor/swiper/swiper-bundle.min.css">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.png">
  </head>
  <body>

        <!-- HERO SECTION-->
        <section class="py-5 bg-light">
          <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
              <div class="col-lg-12">
                <h1 class="h1  mb-0">Thank you. Your order has been received.</h1>
              </div>  
            </div>
          </div>
        </section>
        <section class="py-5 container ">
            <!-- ORDER SUMMARY-->
            <div class="row"> 
                <div class="col-md-6">
                    <div class="card border-0 rounded-0 p-lg-4 bg-light">
                      <div class="card-body">
                          <h5>Shipping Address</h5>
                        <% if(address){  %>  
                          <ul class="list-unstyled mb-0">
                              <li class="d-flex align-item-cneter justify-content-between"><%=address.name%> </li>
                              <li class="d-flex align-item-cneter justify-content-between"><%=address.mobile%> </li>
                              <li class="d-flex align-item-cneter justify-content-between"><%=address.houseName%> </li>
                              <li class="d-flex align-item-cneter justify-content-between"><%=address.district%> </li>
                              <li class="d-flex align-item-cneter justify-content-between"><%=address.state%> </li>
                              <li class="d-flex align-item-cneter justify-content-between"><%=address.pincode%> </li>
                          </ul>
                 <% } %>   
                     </div>
                    </div>                 
                  </div>
                  <div class="col-md-6">
                    <div class="card border-0 rounded-0 p-lg-4 bg-light">
                      <div class="card-body">
                          <h5>Order Info</h5>
                        <% if(orderDetails){  %>  
                       <ul class="list-unstyled mb-0">
                        <li class="d-flex align-item-cneter"><span style="color: rgb(124, 121, 119); margin-right:0.5rem;">Order ID: </span> <%=orderDetails._id%> </li>
                        <li class="d-flex align-item-cneter"><span style="color: rgb(124, 121, 119); margin-right:0.5rem;">Date: </span><%=date %> </li>
                        <li class="d-flex align-item-cneter"><span style="color: rgb(124, 121, 119); margin-right:0.5rem;">Total: </span>₹<%=orderDetails.total%> </li>
                        <li class="d-flex align-item-cneter"><span style="color: rgb(124, 121, 119); margin-right:0.5rem;">payment method: </span><%=orderDetails.paymentMethod%> </li>
                        <li class="d-flex align-item-cneter"><span style="color: rgb(124, 121, 119); margin-right:0.5rem;">Order status: </span><%=orderDetails.status%> </li>
                       </ul>
                 <% } %>   
                     </div>
                    </div>                 
                  </div>    
                  <div class="mt-3 d-flex justify-content-center">
                    <a href="/orderDetails" class="btn btn-primary rounded-pill">View Orders</a>   
                  </div>               
            </div>         
            <!-- </form> -->
        </section>  
      <!-- JavaScript files-->
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="vendor/glightbox/js/glightbox.min.js"></script>
      <script src="vendor/nouislider/nouislider.min.js"></script>
      <script src="vendor/swiper/swiper-bundle.min.js"></script>
      <script src="vendor/choices.js/public/assets/scripts/choices.min.js"></script>
      <script src="js/front.js"></script>
      <script>
        // ------------------------------------------------------- //
        //   Inject SVG Sprite - 
        //   see more here 
        //   https://css-tricks.com/ajaxing-svg-sprite/
        // ------------------------------------------------------ //
        function injectSvgSprite(path) {
        
            var ajax = new XMLHttpRequest();
            ajax.open("GET", path, true);
            ajax.send();
            ajax.onload = function(e) {
            var div = document.createElement("div");
            div.className = 'd-none';
            div.innerHTML = ajax.responseText;
            document.body.insertBefore(div, document.body.childNodes[0]);
            }
        }
        // this is set to BootstrapTemple website as you cannot 
        // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
        // while using file:// protocol
        // pls don't forget to change to your domain :)
        injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg'); 
        
      </script>
      <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </div>
  </body>
</html>